# Dependencies
node_modules

# Build outputs
build
dist
.turbo

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Temp files
/tmp

# Logs
npm-debug.log
yarn-error.log
*.log

# Editors
.fleet
.idea
.vscode

# Platform specific
.DS_Store

# Frontend compiled assets
public/assets
